@charset "UTF-8";
/* reset */

/* reset 기본 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
    color: #000;
    line-height: 1.4;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
    font-size: inherit;
    /* rem 기반 적용 */
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

 img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}


#main {
    margin: 0 192px;
}

#main .title {
    font-size: 4.4rem;
    position: relative;
    padding-left: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
}

#main .title img {
    height: 58px;
    width: 58px;
}


#main .slide {
    display: flex;
    padding: 20px 0;
    gap: 10px;
}

/* 핫세일 부분 */
#main .sale {
    margin: 30px 0 120px 0;
}

#main .sale ul {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

#main .sale p {
    font-size: 1.6rem;
}

#main .sale img {
    width: 172px;
    height: 172px;
}

/* 추천 상품 */
#main .reco-inner {
    display: flex;
    justify-content: space-between;
}

/*추천 상품 ui카드  */
#card-ui {
    display: flex;
    gap: 10px;
    font-size: 1.4rem;
}

#main .card-img {
    border: 1px solid #9b9696;
    border-radius: 20px;
    width: 303px;
    height: 360px;
    overflow: hidden;
}

#main .card-tit {
    font-size: 1.8rem;
    margin: 20px 0;
}

#main .card-price {
    display: flex;
    align-items: center;
}

#main .card-price span {
    background: #E83828;
    color: #fff;
    border-radius: 7px;
    padding: 3px 6px 3px 5px;

}

#main .card-price strong {
    font-size: 1.8rem;
    margin: 5px;
}

#main .card-price del {
    color: #3F3F3F;
}

#main .weight {
    margin-top: 5px;
    color: #B7B7B7;
}

#main .info-box {
    display: flex;
    flex-direction: column;
}
/* //카드ui */

#main .reco-left ul {
    justify-content: flex-start;
    margin-bottom: 100px;
}

#main .reco-left li {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 24px;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 6px 18px 6px 6px;
    box-sizing: border-box;
    margin: 10px 0;
}

#main .reco-left li img {
    width: 42px;
    height: 42px;
}

#main .ui-card {
    width: 1213px;
    height: 478px;
    background: yellow;
}

#main .btn {
    display: flex;
    gap: 10px;
}

#main .swipe-btn-pre {
    width: 58px;
    height: 58px;
    border: 1px solid #000;
    border-radius: 50%;
    text-align: center;

}

#main .swipe-btn-next {
    width: 58px;
    height: 58px;
    border: 1px solid #000;
    border-radius: 50%;
    text-align: center;

}

/* 선물세트 */
#main .gift {
    display: flex;
    gap: 20px;
    margin: 100px 0;
}

#main .gift-wrap {
    display: flex;
    justify-content: space-between;
}

#main .gift .title {
    justify-content: start;
    padding: 0;

}

#main .gift ul {
    display: flex;
    gap: 20px;
}

#main .gift li {
    border: 1px solid #000;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 18px 6px 6px;
    height: 36px;
}

#main .gift-ico {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
}

#main .gift-ico img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transform: scale(0.7);
}

#main .gift-wrap p {
    font-size: 1.6rem;
}

#main .gift-bottom .ui-card {
    width: 945px;
    height: 478px;
}

/* 선물세트 ui카드 */
#main #card-ui2{
    display: flex;
    gap: 10px;
}

/* 도드람 소식 */
#main .news {
    position: relative;
    background: #FFF3F1;

}

#main .news-title {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

#main .news .title {
    padding: 0;
}

#main .news-btn-wrap {
    display: flex;
}

#main .news h3 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin: 20px;
}
#main .news-wrap h3 img {
  width: 48px;
  height: 48px;
}

#main .news-wrap {
    display: flex;
}

#main .news-left,
.news-right {
    border: 1px solid #000;
    padding: 30px;
    background: #fff;
    border-radius: 20px;
}

#main .news-left iframe {
    width: 670px;
    height: 376px;
    border-radius: 30px;
}

#main .news-right {
    max-width: 750px;
    position: relative;
}

#main .news-right .btn {
    position: absolute;
    top: 40px;
    right: 30px;
    display: flex;
    gap: 8px;
}

#main .news-right-wrap {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

#main .news-right iframe {
    width: 214px;
    height: 382px;
    border-radius: 30px;
}

/* qna 부분 */
#main .qna {
    display: grid;
    gap: 20px;
    margin-top: 200px;
}

#main .qna div:nth-of-type(1) {
    grid-column: 1 /span 3;
    grid-row: 1/ span 2;

}

#main .qna div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 750px;
    height: 180px;
    border-radius: 20px;
    background: #E83828;
    grid-column: 4/ span 2;
    grid-row: 1/ span 1;
}

#main .qna div:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 750px;
    height: 180px;
    border-radius: 20px;
    background: #FFCF4B;
    grid-column: 4/ span 2;
    grid-row: 2/ span 1;

}

#main .qna div:nth-of-type(4) {
    grid-column: 1/ span 5;
    grid-row: 3/ span 1;
}

#main .qna p {
    padding-left: 20px;
}

#main .qna .tit {
    font-size: 3.2rem;
    font-weight: 700;
}

#main .qna .txt {
    font-size: 2rem;
    font-weight: 500;
}