@charset "UTF-8";
/* 타이포그래피 */


#main {
    margin: 0 192px;
}

#main .title {
    font-size: 4.4rem;
    position: relative;
    padding-left: 70px;
    display: flex;;
    text-align: center;
    justify-content: center;
}
#main .title img{
    height: 58px;
    width: 58px;
}


#main .slide {
    display: flex;
    padding: 20px 0;
    gap: 10px;
}

/* 핫세일 부분 */
#main .sale {
    margin: 30px 0;
}

#main .sale ul {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
#main .sale p{
    font-size: 1.6rem;
}

#main .sale img {
    width: 172px;
    height: 172px;
}

/* 추천 상품 */
#main .reco{
    display: flex;
}

#main .reco-left ul{
    margin: 10px;
}
#main .reco-left li {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 0 18px 0 6px;
    box-sizing: content-box;
    margin: 10px;
}

#main .reco-left li img {
    width: 42px;
    height: 42px;
}

#main .ui-card{
    width: 1213px;
    height: 478px;
    background: yellow;
}

#main .btn{
    display: flex;
    gap: 10px;
}

#main .swipe-btn-pre{
    width: 58px;
    height: 58px;
    border: 1px solid #000;
    border-radius: 50%;
    text-align: center;
    
}
#main .swipe-btn-next{
    width: 58px;
    height: 58px;
    border: 1px solid #000;
    border-radius: 50%;
    text-align: center;
  
}

/* 선물세트 */
#main .gift{
    display: flex;
    gap: 20px;
    margin: 100px 0;
}

#main .gift-wrap{
display: flex;
justify-content: space-between;
}

#main .gift .title{
    justify-content: start;
    padding: 0;

}

#main .gift ul{
    display: flex;
    gap: 20px;
}
#main .gift li{
    border: 1px solid #000;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:6px 18px 6px 6px;
}
#main .gift-ico{
    width: 36px;
    height: 36px;
}

#main .gift-bottom .ui-card{
    width: 945px;
    height: 478px;
}

/* 도드람 소식 */
#main .news {
    position: relative;

}
#main .news-title{
    display: flex;
    justify-content: space-between;
}
#main .news .title{
    padding: 0;
}
#main .news-btn-wrap{
    display: flex;
    border: 1px solid #000;
}
#main .news-left h3{
   
}