@charset "UTF-8";



/* reset 기본 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
    color: #000;
    line-height: 1.4;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
    font-size: inherit;
    /* rem 기반 적용 */
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;

    object-fit: cover;
}