@charset "UTF-8";

/* reset */
body,
p,h3, h2, h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}




#minho-faq .location-wrap {
    margin-bottom: 40px;
    border-bottom: 1px solid #e83828;

}

#minho-faq .location-con {
    width: 1260px;
    margin: 0 323px;
    height: 38px;

}

#minho-faq .faq-container {
    display: flex;
    width: 1260px;
    margin: 0 323px;
    gap: 50px;
}

/* faq list-box */


#minho-faq .list-box-t {
    margin-bottom: 200px;
}

#minho-faq .list-box-menu {
    border-top: 2px solid #e83828;
    padding: 20px 10px 20px 0;
}

#minho-faq .list-box-menu li {
    margin-top: 15px;
}

#minho-faq .list-box-menu li a {
    color: #787878;
}

#minho-faq .list-box-menu li a:hover {
    color: #e83828;
}


#minho-faq .list-box-b div {
    margin-bottom: 100px;
    gap: 5px;
}

#minho-faq .list-box-info {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-top: 2px solid #e83828;
    color: #787878;
}

#minho-faq .list-box-b strong {
    color: #e83828
}

/* faq .board-box */
#minho-faq .search-box {
    display: flex;
    width: 964px;
    border-radius: 10px;
    border: 1px solid #E83828;
    justify-content: space-around;
}

#minho-faq .search-left {
    display: inline-block;
    width: 674px;
    padding: 20px 10px;
    border-right: 1px dashed #787878;
}
#minho-faq .search-left h2{
    margin-bottom: 10px;
}

#minho-faq .search-left input {
    width: 471px;
    height: 31px;
    border-radius: 50px 0 0 50px;
    border: 1px solid #E83828;
    box-shadow: 3px 3px 0px #E83828;
    outline: none;
    color: #787878;
    font-weight: 500;
}

#minho-faq .search-left input:focus {
    border: 1px solid #e83828;
}

#minho-faq .search-left button {
    display: inline-block;
    border-radius: 0 50px 50px 0;
    border: 1px solid #E83828;
    box-shadow: 3px 3px 0px #E83828;
    background: #E83828;
    color: #fff;
    width: 100px;
    height: 37px;
}

#minho-faq .search-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 6px;
}
#minho-faq .search-right span{
    border: 1px solid #787878;
    border-radius: 5px;
    padding: 3px;
}
/* faq제목 */
#minho-faq .faq-tit{
    margin: 50px 0 40px;
}

/* faq 리스트 */
#minho-faq .faq-content-list{
    border-top: 1px solid #e83828;
    padding: 10px 0;
    margin-bottom: 30px;
}

#minho-faq .faq-content-list ul {
    display: flex;
    gap: 20px;
}
#minho-faq .faq-content-list ul li:not(:last-child)::after{
  content: "";
  display: inline-block;
  width: 1px;        
  height: 14px;      
  background-color: #b6b1b1; 
  margin-left: 10px; 
  vertical-align: middle;
}

#minho-faq .faq-table{
    display: inline-block;
    align-items: center;
}

#minho-faq .faq-table table{
    border-collapse: collapse;
    width: 1020px;
    margin-bottom: 40px;

}

#minho-faq .faq-table tr{
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
}


/* 페이지네이션 */
#minho-faq .faq-pagination ul {
    display: flex;
}