@charset "UTF-8";
@import url("faq_common.css");

#minho-faq .faq-container {
    gap: 100px;
}

#faq-sub2 {
    width: 1020px;
}
/* 1:1 문의하기 제목 */
#faq-sub2 .sub2-tit {
    margin-bottom: 30px;
}

#faq-sub2 .main-box-table {
    border-top: 1px solid #000;
}

#faq-sub2 .main-box-table table {
    width: 100%;
    border-collapse: collapse;
}

#faq-sub2 .main-box-table table tr {
    border-top: 1px solid #787878;
    border-bottom: 1px solid #787878;
}

#faq-sub2 .main-box-table table th,
td {
    padding: 10px;
}

#faq-sub2 .main-box-table table th {
    text-align: left;
    vertical-align: top;
    width: 15%;
}

#faq-sub2 .main-box-table table td {
    width: 85%;
}

#faq-sub2 .main-box-table table td select {
    padding: 10px;
}

#faq-sub2 .main-box-table table td input {
    padding: 10px;
    border: 1px solid #787878;
}

#faq-sub2 .main-box-table table textarea {
    border: 1px solid #787878;
    padding: 10px;
}




/* 이메일 */
#faq-sub2 .main-box-table .table-email input {
    margin-right: 5px;
}

/* 본문 */
#faq-sub2 .main-box-table .table-body p {
    color: #787878;
    margin-bottom: 10px;
}

#faq-sub2 .main-box-table .table-body textarea {
    width: 600px;
    height: 300px;
    resize: none;
}
/* 수집동의 */
#faq-sub2 .main-box-write textarea{
    width: 100%;
    height: 110px;
    padding: 10px;
    resize: none;
    line-height: 1.3;
}
