@charset "UTF-8";
@import url(reset.css);


#main {
    margin: 0 192px;
}

#main .title {
    font-size: 4.4rem;
    position: relative;
    padding-left: 70px;
    text-align: center;
    justify-content: center;
}
#main .title img{
    height: 58px;
    width: 58px;
}



#main .slide {
    display: flex;
    padding: 20px 0;
    gap: 10px;
}

#main .sale {
    margin: 30px 0;
}

#main .sale ul {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

#main .sale img {
    width: 172px;
    height: 172px;
}


#main .reco{
    display: flex;
}

#main .reco-left ul{
    margin: 10px;
}
#main .reco-left li {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 0 18px 0 6px;
    box-sizing: content-box;
    margin: 10px;
}

#main .reco-left li img {
    width: 42px;
    height: 42px;
}

#main .ui-card{
    width: 1213px;
    height: 478px;
    background: yellow;
}
