@charset "UTF-8";

/* reset(초기화) */
* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

/* 타이포그래피 */

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
html{
    font-family: 'pretendard';
    font: 10px sans-serif;
}
