@charset "UTF-8";
@import url(/assets/css/service/service_common.css);

#event .event-box {
    margin: 0 323px;
    text-align: center;

}

#event .event-tit h2 {
    font-size: 32px;
    margin-bottom: 60px;
}

#event .event-tit .event-category ul{
    width: 100%;
    display: flex;
    justify-content: center;
}

#event .event-tit .event-category ul li {
    font-size: 20px;
    width: 480px;
    padding: 30px 0;
    border: 1px solid #000;
    border-radius: 15px 15px 0 0;
    background: #e2e2e2;
}

#event .event-tit .event-category ul li:hover{
    background: pink;
    cursor: pointer;
}

#event .event-tit .event-category ul li.active{
    background: greenyellow;
}

#event .event-cont{
    background: #ffaecd;
    border: 1px solid #c9c9c9;

}

/* 이벤트 카드 */
#event .event-card {
    margin: 30px;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 50px;

}

#event .event-img img {
    height: 200px;
    width: 500px;
    object-fit: cover;
    border: 1px solid #c2c2c2;
    border-radius: 6px;
}


#event .event-info {
    text-align-last: left;
}





/* 페이지네이션 */

#event .service-pagination{
    width: 100%;

}